.addToCartBtnWrapper{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;

    transition: all 0.3s;
}

.productNotAvailable{
    color: var(--secondary-contrast-text);
    background-color: var(--secondary-light);
}

.productAvailable{
    color: var(--primary-contrast-text);
    background-color: var(--primary-main);
}

.countMode{
    color: var(--primary-main);
    background-color: var(--background-main);
    border: 1px solid var(--primary-main);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.addToCardBtn{
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.addToCardBtn:hover{
    /* WIP -- define a better color change here */
    background-color: var(--primary-main)
}

.countHolder{
    font-size: 1rem;
}

.countControlBtn{
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.countIncreaseBtn{
    border: 1px solid var(--success-light);
    color: var(--success-main);
}
.countDecreaseBtn{
    border: 1px solid var(--danger-light);
    color: var(--danger-main);
}