.productDetail{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.aspectRatioHolder{
    width: 80%;
}

.productContent{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.productImgWrapper{
    padding-bottom: 100%;
    width: 100%;
    position: relative;
}

.productImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}

.productTitle{
    font-size: 1.8rem;
    font-weight: 900;
}

.productMainPrice{
    color: var(--primary-main);
    font-weight: 700;
    font-size: 1.6rem;
}

.productDiscountPrice{
    color: var(--success-main);
    font-weight: 700;
    font-size: 1.6rem;
}

.discount_mainPrice{
    color: var(--danger-main);
    font-size: 1.2rem;
    text-decoration: line-through;
}

.tomanHolder{
    font-size: 1rem;
}

.shortDescription{
    color: var(--secondary-main);
    line-height: 35px;
    font-weight: 500;
    font-size: 1.1rem;
}

.longDescription{
    display: flex;
    column-gap: 10px;
}

.longDescriptionBody{
    color: var(--secondary-light);
    line-height: 35px;
    font-weight: 400;
    font-size: 0.9rem;
    width: 90%;

    display: flex;
    column-gap: 10px;
}

.longDescription::before{
    content: " ";
    display: block;
    background-color: var(--primary-main);
    width: 3px;
    border-radius: 10px;
}

.addToCardBtn{
    border: none;
    width: 90%;
    color: var(--primary-contrast-text);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: fit-content;

    transition: all 0.3s;
    background-color: var(--primary-main);
}

.addToCardBtn:hover{
    /* WIP -- define a better color change here */
    background-color: var(--primary-main)
}

@media only screen and (min-width: 768px){
    .productDetail{
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: 30px;
        flex-direction: row;
        align-items: flex-start;
    }

    .productContent{
        display: flex;
        row-gap: 20px;
        width: 60%;
    }

    .aspectRatioHolder{
        width: 40%;
    }
}