.product_card_wrapper{
    width: 90%;
    max-width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    overflow: hidden;

    transition: all 0.3s;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    transform: translateY(-0);
}

.product_card_wrapper:hover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

.product_card_content_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    padding: 10px;
}

.product_card_img_container{
    width: 100%;
    height: 200px;
}

.product_card_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product_card_title{
    font-weight: 500;
    font-size: 1rem;
}

.product_card_mainPrice{
    font-weight: 700;
    font-size: 1.1rem;
}

.product_card_discountPrice{
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--success-main);
}

.tomanHolder{
    font-size: 0.8rem;
}

.mainPrice_discountActive{
    color: var(--danger-main);
    text-decoration: line-through;
}

.addToCardBtn{
    border: none;
    width: 100%;
    background-color: var(--primary-main);
    color: var(--primary-contrast-text);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
}