.product_card_wrapper{
    width: 90%;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding-bottom: 15px;
}

.product_card_content_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.product_card_img_container{
    width: 100%;
    height: 200px;
}

.product_card_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product_card_title{
    font-weight: 700;
    font-size: 1.1rem;
}

.product_card_mainPrice{
    font-weight: 700;
    font-size: 1.1rem;
}

.product_card_discountPrice{
    font-weight: 700;
    font-size: 1.1rem;
}