.cartContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px 10px 10px;
}

.cartContentRowsWrapper{
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.cartContentRow{
    padding: 20px;
    display: flex;
    align-items: center;
}

.itemThumbnail{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.cartContentOperationsWrapper{
    flex: 0.1;
    display: flex;
    justify-content: flex-end;
}

.cartContentRowRemove{
    background-color: var(--danger-main);
    border-radius: 50%;
    cursor: pointer;
}

.cartContentRow:not(.cartContentRow:last-of-type){
    border-bottom: 1px solid var(--secondary-ultraLight);
}

.cartContentWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 10px;
}

.cartContentRowTitle{
    font-size: 0.8rem;
    flex: 1;
}

.cartDetailsWrapper{
    display: flex;
    align-items: center;
    flex: 0.8;
}

.itemDetail{
    font-size: 0.8rem;
    flex: 1;
}

.priceSum{
    color: var(--primary-main);
    font-size: 1.1rem;
    font-weight: 700;
    margin: auto;
    padding: 10px 0px;
}

.priceSumLabel{
    color: var(--primary-main);
    font-size: 0.9rem;
}

.endPurchaseBtn{
    background-color: var(--success-dark);
    color: var(--success-contrast-text);
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}

.endPurchaseBtn:hover{
    background-color: var(--success-main);
}

@media only screen and (min-width: 768px){
    .cartContentWrapper{
        flex-direction: row;
        align-items: center;
    }
}