.emptyWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 100%;
}

.emptyWrapper p{
    font-size: 0.9rem;
    font-weight: 400;
}