@font-face {
  font-family: "IRANSansX";
  font-weight: 100;
  src: url("../../public/fonts/IRANSansX/IRANSansX-Thin.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 200;
  src: url("../../public/fonts/IRANSansX/IRANSansX-UltraLight.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 300;
  src: url("../../public/fonts/IRANSansX/IRANSansX-Light.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 400;
  src: url("../../public/fonts/IRANSansX/IRANSansX-Regular.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 500;
  src: url("../../public/fonts/IRANSansX/IRANSansX-Medium.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 600;
  src: url("../../public/fonts/IRANSansX/IRANSansX-DemiBold.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 700;
  src: url("../../public/fonts/IRANSansX/IRANSansX-Bold.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 800;
  src: url("../../public/fonts/IRANSansX/IRANSansX-ExtraBold.ttf");
}

@font-face {
  font-family: "IRANSansX";
  font-weight: 900;
  src: url("../../public/fonts/IRANSansX/IRANSansX-Black.ttf");
}