@import "tailwindcss";
/* @import ./fonts.css; */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* @theme inline {
    --color-background: var(--background-main);
    --color-foreground: var(--background-contrast-text);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
} */

:root {
    --primary-light: #E6A3E3;
    --primary-main: #b607b0;
    --primary-dark: #590556;
    --primary-contrast-text: #ffffff;

    --secondary-ultraLight: #c7c7c7;
    --secondary-light: #5C5C5C;
    --secondary-main: #242424;
    --secondary-dark: #242424;
    --secondary-contrast-text: #ffffff;

    --background-main: #FFFFFF;
    --background-dark: #F0F0F0;
    --background-contrast-text: #242424;

    --danger-light: #F5A4A4;
    --danger-main: #ca2d2d;
    --danger-dark: #AD1414;
    --danger-contrast-text: #ffffff;

    --success-light: #A6F5BE;
    --success-main: #34BA5C;
    --success-dark: #198639;
    --success-contrast-text: #ffffff;

    --sm-width: 480px;
    --md-width: 768px;
    --lg-width: 1000px;
    --xl-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: IRANSansX, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body {
  background: var(--background-main);
  color: var(--background-contrastText);
  min-height: 100vh;
}

.hiddenUpMD {
    display: flex;
}
@media only screen and (min-width: 768px){
  .hiddenUpMD {
      display: none;
  }
}

.hiddenDownMD{
    display: none;
}
@media only screen and (min-width: 768px){
  .hiddenDownMD{
      display: flex;
  }
}

h1{
  font-size: 1rem;
}