.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 20px 80px;
}

.logo_text{
    color: var(--primary-main);
    font-weight: 900;
    font-size: 1.2rem;
    direction: ltr;
}