.cartBtnDesktopWrapper{
    position: relative;
    cursor: pointer;
}

.cartBtnMobileWrapper{
    background-color: var(--primary-main);
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 100px;
    right: 20px;
    color: var(--primary-contrast-text);
    font-size: 0.7rem;

    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 99;
}

.cartProductCount{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--success-main);
    color: var(--success-contrast-text);
    font-size: 0.9rem;
    border-radius: 50%;

    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}