.imageWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgSkeleton{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--background-dark);
    animation: skeletonShade linear 0.5s alternate-reverse infinite;
}

@keyframes skeletonShade {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.9;
    }
}