.products_list_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    column-gap: 50px;
    row-gap: 50px;
}

.manualPaginationActive{
    margin: auto;
    border-radius: 10px;
    padding: 10px 30px;
    width: fit-content;
    background-color: var(--primary-main);
    color: var(--primary-contrast-text);
    font-weight: 500;
    cursor: pointer;

    transition: all 0.3s;
}

.manualPaginationActive:hover{
    transform: scale(1.05);
}

.loadingBallsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.loadingBall {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: loadingBall alternate-reverse infinite 0.5s linear;
}

@keyframes loadingBall {
    from {
        background-color: var(--primary-main);
        transform: scale(1.1);
    }
    to{
        background-color: var(--primary-light);
        transform: scale(1);
    }
}