.products_list_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}