.products_list_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
}

.products_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    column-gap: 50px;
    row-gap: 50px;
}