.dropdownWrapper{
    position: relative;
}

.dropdownBtnHander{

}

.dropdownContentWrapper{
    position: absolute;
    left: 0;
    z-index: 99;
    background-color: var(--background-main);
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    opacity: 0;
    transition: all 0.15s;
    width: 400px;
}

.dropdownOpen{
    opacity: 1;
}

.dropdownContentWrapper[data-collapsed=true]{
    display: none!important;
}