.pageWrapper{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

@media only screen and (min-width: 768px){
    .pageWrapper{
        margin-top: 100px;
    }
}