.pageWrapper{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    min-height: 50vh;
}

@media only screen and (min-width: 768px){
    .pageWrapper{
        margin-top: 100px;
    }
}